:root {
  --color-pink-50: #fff4f5;
  --color-pink-100: #ffe6e8;
  --color-pink-200: #ffd2d6;
  --color-pink-300: #ffb3bb;
  --color-pink-400: #ff8295;
  --color-pink-500: #fe2867;
  --color-pink-600: #cd004c;
  --color-pink-700: #970036;
  --color-pink-800: #610020;
  --color-pink-900: #31000c;
  --color-red-50: #fff4f2;
  --color-red-100: #ffe6e1;
  --color-red-200: #ffd3cb;
  --color-red-300: #ffb6a9;
  --color-red-400: #ff8675;
  --color-red-500: #ff3626;
  --color-red-600: #d00d00;
  --color-red-700: #990500;
  --color-red-800: #630200;
  --color-red-900: #320000;
  --color-orange-50: #fff4f0;
  --color-orange-100: #ffe7de;
  --color-orange-200: #ffd5c5;
  --color-orange-300: #ffb79a;
  --color-orange-400: #f98e61;
  --color-orange-500: #ea5b00;
  --color-orange-600: #b74500;
  --color-orange-700: #873100;
  --color-orange-800: #561c00;
  --color-orange-900: #2c0900;
  --color-yellow-50: #fffbf4;
  --color-yellow-100: #fff2db;
  --color-yellow-200: #ffe5b8;
  --color-yellow-300: #fad082;
  --color-yellow-400: #eab54b;
  --color-yellow-500: #dd9300;
  --color-yellow-600: #c47e00;
  --color-yellow-700: #b36404;
  --color-yellow-800: #984d1a;
  --color-yellow-900: #7f3c25;
  --color-lime-50: #f7f9e7;
  --color-lime-100: #ecf1cb;
  --color-lime-200: #dee6a7;
  --color-lime-300: #c7d56f;
  --color-lime-400: #a8bb16;
  --color-lime-500: #939701;
  --color-lime-600: #727500;
  --color-lime-700: #575200;
  --color-lime-800: #393200;
  --color-lime-900: #1b1500;
  --color-green-50: #f0faf2;
  --color-green-100: #dcf4e3;
  --color-green-200: #c2ebce;
  --color-green-300: #9addaf;
  --color-green-400: #62c787;
  --color-green-500: #01ab59;
  --color-green-600: #008547;
  --color-green-700: #006132;
  --color-green-800: #003d1d;
  --color-green-900: #001c0a;
  --color-teal-50: #eefaf5;
  --color-teal-100: #d6f6e8;
  --color-teal-200: #b0f0d6;
  --color-teal-300: #75e4bc;
  --color-teal-400: #2dcb9c;
  --color-teal-500: #00a87f;
  --color-teal-600: #008362;
  --color-teal-700: #005f46;
  --color-teal-800: #003c2b;
  --color-teal-900: #001c12;
  --color-cloudy-blue-50: #f1f7ff;
  --color-cloudy-blue-100: #e1eeff;
  --color-cloudy-blue-200: #d0e1fb;
  --color-cloudy-blue-300: #b0cefa;
  --color-cloudy-blue-400: #82b0f4;
  --color-cloudy-blue-500: #538fe6;
  --color-cloudy-blue-600: #2d6cc7;
  --color-cloudy-blue-700: #154d9a;
  --color-cloudy-blue-800: #022e69;
  --color-cloudy-blue-900: #001436;
  --color-blue-50: #ecf9ff;
  --color-blue-100: #d9f1ff;
  --color-blue-200: #c2e5fc;
  --color-blue-300: #9ed1ff;
  --color-blue-400: #70b2ff;
  --color-blue-500: #3c8cff;
  --color-blue-600: #146ada;
  --color-blue-700: #054ba3;
  --color-blue-800: #002e6b;
  --color-blue-900: #001436;
  --color-purple-50: #f5f6fc;
  --color-purple-100: #eaecf9;
  --color-purple-200: #d9ddfa;
  --color-purple-300: #bec6ff;
  --color-purple-400: #9ca5ff;
  --color-purple-500: #787dff;
  --color-purple-600: #5a49f9;
  --color-purple-700: #402ebf;
  --color-purple-800: #27187f;
  --color-purple-900: #100446;
  --color-cool-gray-50: #f5f7f9;
  --color-cool-gray-100: #eaedf1;
  --color-cool-gray-200: #dae0e7;
  --color-cool-gray-300: #c3ccd4;
  --color-cool-gray-400: #a5b0ba;
  --color-cool-gray-500: #84919d;
  --color-cool-gray-600: #62717e;
  --color-cool-gray-700: #435260;
  --color-cool-gray-800: #243342;
  --color-cool-gray-900: #081725;
  --color-neutral-gray-50: #f7f7f7;
  --color-neutral-gray-100: #ededed;
  --color-neutral-gray-200: #dfdfdf;
  --color-neutral-gray-300: #cbcbcb;
  --color-neutral-gray-400: #aeaeae;
  --color-neutral-gray-500: #8f8f8f;
  --color-neutral-gray-600: #6f6f6f;
  --color-neutral-gray-700: #505050;
  --color-neutral-gray-800: #313131;
  --color-neutral-gray-900: #161616;
  --color-dark-pink-50: #f3e8e9;
  --color-dark-pink-100: #dec5c7;
  --color-dark-pink-200: #cba1a5;
  --color-dark-pink-300: #c17881;
  --color-dark-pink-400: #bc445b;
  --color-dark-pink-500: #a6003c;
  --color-dark-pink-600: #79002a;
  --color-dark-pink-700: #4e0018;
  --color-dark-pink-800: #280008;
  --color-dark-pink-900: #070001;
  --color-dark-red-50: #f4e8e6;
  --color-dark-red-100: #e0c5c0;
  --color-dark-red-200: #cea19a;
  --color-dark-red-300: #c5796d;
  --color-dark-red-400: #c04536;
  --color-dark-red-500: #a80600;
  --color-dark-red-600: #7a0400;
  --color-dark-red-700: #500100;
  --color-dark-red-800: #280000;
  --color-dark-red-900: #070000;
  --color-dark-orange-50: #f3e9e4;
  --color-dark-orange-100: #ddc6bd;
  --color-dark-orange-200: #cba494;
  --color-dark-orange-300: #c07d62;
  --color-dark-orange-400: #b65223;
  --color-dark-orange-500: #943700;
  --color-dark-orange-600: #6b2500;
  --color-dark-orange-700: #451500;
  --color-dark-orange-800: #220700;
  --color-dark-orange-900: #030101;
  --color-dark-yellow-50: #f2eadd;
  --color-dark-yellow-100: #dacaad;
  --color-dark-yellow-200: #c4aa7b;
  --color-dark-yellow-300: #b1893a;
  --color-dark-yellow-400: #956c00;
  --color-dark-yellow-500: #794f00;
  --color-dark-yellow-600: #593600;
  --color-dark-yellow-700: #3d1e00;
  --color-dark-yellow-800: #200900;
  --color-dark-yellow-900: #030101;
  --color-dark-lime-50: #ebeddb;
  --color-dark-lime-100: #cbd0ab;
  --color-dark-lime-200: #acb476;
  --color-dark-lime-300: #8d9930;
  --color-dark-lime-400: #707c00;
  --color-dark-lime-500: #5b5d00;
  --color-dark-lime-600: #414200;
  --color-dark-lime-700: #2b2800;
  --color-dark-lime-800: #141100;
  --color-dark-lime-900: #020201;
  --color-dark-green-50: #e4eee7;
  --color-dark-green-100: #bcd3c2;
  --color-dark-green-200: #91b99d;
  --color-dark-green-300: #60a175;
  --color-dark-green-400: #198a4e;
  --color-dark-green-500: #006b35;
  --color-dark-green-600: #004c26;
  --color-dark-green-700: #003016;
  --color-dark-green-800: #001607;
  --color-dark-green-900: #010201;
  --color-dark-teal-50: #e3eee9;
  --color-dark-teal-100: #b5d4c7;
  --color-dark-teal-200: #7ebda4;
  --color-dark-teal-300: #30a782;
  --color-dark-teal-400: #018867;
  --color-dark-teal-500: #00694e;
  --color-dark-teal-600: #004b37;
  --color-dark-teal-700: #002f21;
  --color-dark-teal-800: #00150d;
  --color-dark-teal-900: #010201;
  --color-dark-cloudy-blue-50: #e5ecf5;
  --color-dark-cloudy-blue-100: #c0cddf;
  --color-dark-cloudy-blue-200: #9eafc7;
  --color-dark-cloudy-blue-300: #7592bb;
  --color-dark-cloudy-blue-400: #4974b4;
  --color-dark-cloudy-blue-500: #1a56a8;
  --color-dark-cloudy-blue-600: #003b84;
  --color-dark-cloudy-blue-700: #002456;
  --color-dark-cloudy-blue-800: #000f2c;
  --color-dark-cloudy-blue-900: #000207;
  --color-dark-blue-50: #e1eef3;
  --color-dark-blue-100: #b8d0de;
  --color-dark-blue-200: #91b3c9;
  --color-dark-blue-300: #6295c4;
  --color-dark-blue-400: #2d75c3;
  --color-dark-blue-500: #0053b5;
  --color-dark-blue-600: #003a84;
  --color-dark-blue-700: #002456;
  --color-dark-blue-800: #000f2c;
  --color-dark-blue-900: #000207;
  --color-dark-purple-50: #eaebf1;
  --color-dark-purple-100: #c9cbd8;
  --color-dark-purple-200: #a7acc7;
  --color-dark-purple-300: #858cc1;
  --color-dark-purple-400: #6165ce;
  --color-dark-purple-500: #482ed9;
  --color-dark-purple-600: #3400b0;
  --color-dark-purple-700: #1f0074;
  --color-dark-purple-800: #0c003e;
  --color-dark-purple-900: #01000e;
  --color-dark-cool-gray-50: #e9ebee;
  --color-dark-cool-gray-100: #c8ccd0;
  --color-dark-cool-gray-200: #a8aeb4;
  --color-dark-cool-gray-300: #899199;
  --color-dark-cool-gray-400: #6b757f;
  --color-dark-cool-gray-500: #4f5a65;
  --color-dark-cool-gray-600: #33404d;
  --color-dark-cool-gray-700: #1a2835;
  --color-dark-cool-gray-800: #04121e;
  --color-dark-cool-gray-900: #000205;
  --color-dark-neutral-gray-50: #ebebeb;
  --color-dark-neutral-gray-100: #cbcbcb;
  --color-dark-neutral-gray-200: #adadad;
  --color-dark-neutral-gray-300: #909090;
  --color-dark-neutral-gray-400: #747474;
  --color-dark-neutral-gray-500: #585858;
  --color-dark-neutral-gray-600: #3e3e3e;
  --color-dark-neutral-gray-700: #262626;
  --color-dark-neutral-gray-800: #111111;
  --color-dark-neutral-gray-900: #020202;
  --color-white-opacity-00: #ffffff00;
  --color-white-opacity-05: #ffffff0d;
  --color-white-opacity-10: #ffffff1a;
  --color-white-opacity-20: #ffffff33;
  --color-white-opacity-30: #ffffff4d;
  --color-white-opacity-40: #ffffff66;
  --color-white-opacity-50: #ffffff80;
  --color-white-opacity-60: #ffffff99;
  --color-white-opacity-70: #ffffffb3;
  --color-white-opacity-80: #ffffffcc;
  --color-white-opacity-90: #ffffffe6;
  --color-white-opacity-100: #ffffffff;
  --color-black-opacity-00: #00000000;
  --color-black-opacity-05: #0000000d;
  --color-black-opacity-10: #0000001a;
  --color-black-opacity-20: #00000033;
  --color-black-opacity-30: #0000004d;
  --color-black-opacity-40: #00000066;
  --color-black-opacity-50: #00000080;
  --color-black-opacity-60: #00000099;
  --color-black-opacity-70: #000000b3;
  --color-black-opacity-80: #000000cc;
  --color-black-opacity-90: #000000e6;
  --color-black-opacity-100: #000000ff;
}
