:root {
  --color-pink-50: #fcf0f1;
  --color-pink-100: #ffdee1;
  --color-pink-200: #ffbec4;
  --color-pink-300: #ff93a1;
  --color-pink-400: #fe5e7d;
  --color-pink-500: #ec3b66;
  --color-pink-600: #d52355;
  --color-pink-700: #be1148;
  --color-pink-800: #a4133f;
  --color-pink-900: #8d1535;
  --color-red-50: #fcf0ee;
  --color-red-100: #ffdfd9;
  --color-red-200: #fdc1b6;
  --color-red-300: #ff9383;
  --color-red-400: #ff5e4c;
  --color-red-500: #ee3828;
  --color-red-600: #d81d0f;
  --color-red-700: #c00401;
  --color-red-800: #a60900;
  --color-red-900: #900500;
  --color-orange-50: #fff0e5;
  --color-orange-100: #ffe1ca;
  --color-orange-200: #ffc494;
  --color-orange-300: #ffb179;
  --color-orange-400: #ff9045;
  --color-orange-500: #f87500;
  --color-orange-600: #e16300;
  --color-orange-700: #cb5300;
  --color-orange-800: #b64800;
  --color-orange-900: #a43d00;
  --color-yellow-50: #fdf3da;
  --color-yellow-100: #ffecbd;
  --color-yellow-200: #ffe29b;
  --color-yellow-300: #ffd576;
  --color-yellow-400: #ffc84c;
  --color-yellow-500: #feb700;
  --color-yellow-600: #f1a900;
  --color-yellow-700: #e49c00;
  --color-yellow-800: #d59000;
  --color-yellow-900: #c68400;
  --color-light-green-50: #eff6e5;
  --color-light-green-100: #dfefc4;
  --color-light-green-200: #c4dd94;
  --color-light-green-300: #b1d464;
  --color-light-green-400: #9ac72b;
  --color-light-green-500: #88b700;
  --color-light-green-600: #77a600;
  --color-light-green-700: #679300;
  --color-light-green-800: #598400;
  --color-light-green-900: #4b7500;
  --color-green-50: #ecf6ee;
  --color-green-100: #d0f1da;
  --color-green-200: #a6e3b9;
  --color-green-300: #78d297;
  --color-green-400: #4abd78;
  --color-green-500: #26a95e;
  --color-green-600: #009651;
  --color-green-700: #008346;
  --color-green-800: #00723c;
  --color-green-900: #006434;
  --color-cyan-50: #e3f8f8;
  --color-cyan-100: #c0f3f2;
  --color-cyan-200: #86e5e5;
  --color-cyan-300: #51dfe1;
  --color-cyan-400: #14cfd1;
  --color-cyan-500: #00bcbc;
  --color-cyan-600: #00a7a7;
  --color-cyan-700: #009393;
  --color-cyan-800: #008181;
  --color-cyan-900: #006f6f;
  --color-light-blue-50: #e7f6fd;
  --color-light-blue-100: #ccedff;
  --color-light-blue-200: #9adcff;
  --color-light-blue-300: #64cbff;
  --color-light-blue-400: #1fbcfe;
  --color-light-blue-500: #00abee;
  --color-light-blue-600: #0098da;
  --color-light-blue-700: #0086c5;
  --color-light-blue-800: #0076b0;
  --color-light-blue-900: #00669c;
  --color-blue-50: #e9f5ff;
  --color-blue-100: #d5eaff;
  --color-blue-200: #b0d6ff;
  --color-blue-300: #82baff;
  --color-blue-400: #549eff;
  --color-blue-500: #2b84ff;
  --color-blue-600: #1a71e6;
  --color-blue-700: #0861cf;
  --color-blue-800: #0053b6;
  --color-blue-900: #00489f;
  --color-purple-50: #f1f3fb;
  --color-purple-100: #e3e6fb;
  --color-purple-200: #c7ceff;
  --color-purple-300: #a2abff;
  --color-purple-400: #8288ff;
  --color-purple-500: #6b6bf7;
  --color-purple-600: #5a58e1;
  --color-purple-700: #4d48c9;
  --color-purple-800: #423cb1;
  --color-purple-900: #38329a;
  --color-cool-gray-50: #f7f8fa;
  --color-cool-gray-100: #f2f4f5;
  --color-cool-gray-200: #e7eaed;
  --color-cool-gray-300: #d2d6db;
  --color-cool-gray-400: #afb5bb;
  --color-cool-gray-500: #838a91;
  --color-cool-gray-600: #61686f;
  --color-cool-gray-700: #454b51;
  --color-cool-gray-800: #2e3338;
  --color-cool-gray-900: #1c2023;
  --color-neutral-gray-50: #f8f8f8;
  --color-neutral-gray-100: #f3f3f3;
  --color-neutral-gray-200: #e9e9e9;
  --color-neutral-gray-300: #d6d6d6;
  --color-neutral-gray-400: #b4b4b4;
  --color-neutral-gray-500: #898989;
  --color-neutral-gray-600: #676767;
  --color-neutral-gray-700: #4a4a4a;
  --color-neutral-gray-800: #333333;
  --color-neutral-gray-900: #1f1f1f;
  --color-dark-pink-50: #3f2125;
  --color-dark-pink-100: #59252d;
  --color-dark-pink-200: #772837;
  --color-dark-pink-300: #a3324a;
  --color-dark-pink-400: #ce375a;
  --color-dark-pink-500: #f03f69;
  --color-dark-pink-600: #ff617f;
  --color-dark-pink-700: #ff909f;
  --color-dark-pink-800: #ffb9bf;
  --color-dark-pink-900: #ffdfe2;
  --color-dark-red-50: #40221d;
  --color-dark-red-100: #5a261e;
  --color-dark-red-200: #79291e;
  --color-dark-red-300: #a53126;
  --color-dark-red-400: #d03527;
  --color-dark-red-500: #f23c2b;
  --color-dark-red-600: #ff6350;
  --color-dark-red-700: #ff9282;
  --color-dark-red-800: #ffbaae;
  --color-dark-red-900: #ffe0da;
  --color-dark-orange-50: #3d241b;
  --color-dark-orange-100: #542b1a;
  --color-dark-orange-200: #713317;
  --color-dark-orange-300: #a44b1f;
  --color-dark-orange-400: #d56217;
  --color-dark-orange-500: #fc780b;
  --color-dark-orange-600: #ff9148;
  --color-dark-orange-700: #ffae73;
  --color-dark-orange-800: #ffc89c;
  --color-dark-orange-900: #ffe2cb;
  --color-dark-yellow-50: #362915;
  --color-dark-yellow-100: #4a330d;
  --color-dark-yellow-200: #614000;
  --color-dark-yellow-300: #986600;
  --color-dark-yellow-400: #cc8b00;
  --color-dark-yellow-500: #f6ac00;
  --color-dark-yellow-600: #fcba32;
  --color-dark-yellow-700: #fbcd6d;
  --color-dark-yellow-800: #f9dfa0;
  --color-dark-yellow-900: #fcefd0;
  --color-dark-light-green-50: #252f1a;
  --color-dark-light-green-100: #2c3f18;
  --color-dark-light-green-200: #365111;
  --color-dark-light-green-300: #51781a;
  --color-dark-light-green-400: #6f9c12;
  --color-dark-light-green-500: #8bba0d;
  --color-dark-light-green-600: #9cc73b;
  --color-dark-light-green-700: #b3d46d;
  --color-dark-light-green-800: #cae19e;
  --color-dark-light-green-900: #e1eecd;
  --color-dark-green-50: #1e3023;
  --color-dark-green-100: #1e402a;
  --color-dark-green-200: #1d5433;
  --color-dark-green-300: #237444;
  --color-dark-green-400: #219354;
  --color-dark-green-500: #2bac61;
  --color-dark-green-600: #4cbe79;
  --color-dark-green-700: #7bcf97;
  --color-dark-green-800: #a8e0b9;
  --color-dark-green-900: #d4f0dd;
  --color-dark-cyan-50: #193030;
  --color-dark-cyan-100: #143f3f;
  --color-dark-cyan-200: #025353;
  --color-dark-cyan-300: #007a7a;
  --color-dark-cyan-400: #00a0a0;
  --color-dark-cyan-500: #00c0c0;
  --color-dark-cyan-600: #36cdcf;
  --color-dark-cyan-700: #72d9da;
  --color-dark-cyan-800: #a3e4e4;
  --color-dark-cyan-900: #d0efee;
  --color-dark-light-blue-50: #1c2d3b;
  --color-dark-light-blue-100: #1c3b52;
  --color-dark-light-blue-200: #194c6e;
  --color-dark-light-blue-300: #206f9f;
  --color-dark-light-blue-400: #1791cd;
  --color-dark-light-blue-500: #07aef2;
  --color-dark-light-blue-600: #3cbefc;
  --color-dark-light-blue-700: #72ceff;
  --color-dark-light-blue-800: #a2defe;
  --color-dark-light-blue-900: #d0edfd;
  --color-dark-blue-50: #1d2c41;
  --color-dark-blue-100: #1f385d;
  --color-dark-blue-200: #20477f;
  --color-dark-blue-300: #275eaf;
  --color-dark-blue-400: #2a74de;
  --color-dark-blue-500: #3388ff;
  --color-dark-blue-600: #58a0ff;
  --color-dark-blue-700: #81b9ff;
  --color-dark-blue-800: #a9d3ff;
  --color-dark-blue-900: #d6ebff;
  --color-dark-purple-50: #262941;
  --color-dark-purple-100: #30335d;
  --color-dark-purple-200: #3c3f7f;
  --color-dark-purple-300: #4e51ac;
  --color-dark-purple-400: #5e61d8;
  --color-dark-purple-500: #6e6efb;
  --color-dark-purple-600: #848aff;
  --color-dark-purple-700: #a0a9ff;
  --color-dark-purple-800: #c0c8ff;
  --color-dark-purple-900: #e3e6ff;
  --color-dark-cool-gray-50: #161b20;
  --color-dark-cool-gray-100: #22272c;
  --color-dark-cool-gray-200: #31363b;
  --color-dark-cool-gray-300: #43484e;
  --color-dark-cool-gray-400: #5c6167;
  --color-dark-cool-gray-500: #797e83;
  --color-dark-cool-gray-600: #9b9fa3;
  --color-dark-cool-gray-700: #bec1c5;
  --color-dark-cool-gray-800: #dcdee0;
  --color-dark-cool-gray-900: #f4f5f6;
  --color-dark-neutral-gray-50: #1b1b1b;
  --color-dark-neutral-gray-100: #262626;
  --color-dark-neutral-gray-200: #353535;
  --color-dark-neutral-gray-300: #484848;
  --color-dark-neutral-gray-400: #606060;
  --color-dark-neutral-gray-500: #7d7d7d;
  --color-dark-neutral-gray-600: #9e9e9e;
  --color-dark-neutral-gray-700: #c1c1c1;
  --color-dark-neutral-gray-800: #dedede;
  --color-dark-neutral-gray-900: #f5f5f5;
  --color-white-opacity-00: #ffffff00;
  --color-white-opacity-05: #ffffff0d;
  --color-white-opacity-10: #ffffff1a;
  --color-white-opacity-20: #ffffff33;
  --color-white-opacity-30: #ffffff4d;
  --color-white-opacity-40: #ffffff66;
  --color-white-opacity-50: #ffffff80;
  --color-white-opacity-60: #ffffff99;
  --color-white-opacity-70: #ffffffb3;
  --color-white-opacity-80: #ffffffcc;
  --color-white-opacity-90: #ffffffe6;
  --color-white-opacity-100: #ffffffff;
  --color-black-opacity-00: #00000000;
  --color-black-opacity-05: #0000000d;
  --color-black-opacity-10: #0000001a;
  --color-black-opacity-20: #00000033;
  --color-black-opacity-30: #0000004d;
  --color-black-opacity-40: #00000066;
  --color-black-opacity-50: #00000080;
  --color-black-opacity-60: #00000099;
  --color-black-opacity-70: #000000b3;
  --color-black-opacity-80: #000000cc;
  --color-black-opacity-90: #000000e6;
  --color-black-opacity-100: #000000ff;
}
