:root {
  --color-pink-50: #feeff4;
  --color-pink-100: #fcdee8;
  --color-pink-200: #f9bfd3;
  --color-pink-300: #ff95be;
  --color-pink-400: #ff61a7;
  --color-pink-500: #e7388d;
  --color-pink-600: #ca1476;
  --color-pink-700: #a80061;
  --color-pink-800: #85004b;
  --color-pink-900: #650038;
  --color-red-50: #ffefed;
  --color-red-100: #ffdfda;
  --color-red-200: #fdc1b9;
  --color-red-300: #ff998f;
  --color-red-400: #ff6960;
  --color-red-500: #ee3635;
  --color-red-600: #d20b1b;
  --color-red-700: #ac0014;
  --color-red-800: #88000a;
  --color-red-900: #660006;
  --color-orange-50: #fcf1e8;
  --color-orange-100: #fae2d0;
  --color-orange-200: #f5c8a4;
  --color-orange-300: #faaa76;
  --color-orange-400: #ff8542;
  --color-orange-500: #ec5f00;
  --color-orange-600: #c94d00;
  --color-orange-700: #a83d00;
  --color-orange-800: #873000;
  --color-orange-900: #692300;
  --color-yellow-50: #fdf3da;
  --color-yellow-100: #ffecbd;
  --color-yellow-200: #ffe29b;
  --color-yellow-300: #ffd576;
  --color-yellow-400: #ffc84c;
  --color-yellow-500: #feb700;
  --color-yellow-600: #e9a400;
  --color-yellow-700: #d28f00;
  --color-yellow-800: #b57a00;
  --color-yellow-900: #916000;
  --color-light-green-50: #f0f5e9;
  --color-light-green-100: #e2ecd2;
  --color-light-green-200: #c8daa7;
  --color-light-green-300: #aacd5d;
  --color-light-green-400: #8cb809;
  --color-light-green-500: #739c00;
  --color-light-green-600: #588000;
  --color-light-green-700: #466c00;
  --color-light-green-800: #325600;
  --color-light-green-900: #234200;
  --color-green-50: #ebf6ed;
  --color-green-100: #d5efdd;
  --color-green-200: #afe0be;
  --color-green-300: #7bd59a;
  --color-green-400: #4dbf7a;
  --color-green-500: #21a65b;
  --color-green-600: #008849;
  --color-green-700: #00723c;
  --color-green-800: #005a2e;
  --color-green-900: #004422;
  --color-cyan-50: #e7f7f7;
  --color-cyan-100: #cdf0ef;
  --color-cyan-200: #9be1e1;
  --color-cyan-300: #44d5d7;
  --color-cyan-400: #18bcbe;
  --color-cyan-500: #00a0a0;
  --color-cyan-600: #008282;
  --color-cyan-700: #006d6d;
  --color-cyan-800: #005656;
  --color-cyan-900: #004141;
  --color-light-blue-50: #e8f6fc;
  --color-light-blue-100: #d0ecfb;
  --color-light-blue-200: #a4dbf8;
  --color-light-blue-300: #64cbff;
  --color-light-blue-400: #01b3f5;
  --color-light-blue-500: #0097d3;
  --color-light-blue-600: #007db5;
  --color-light-blue-700: #006697;
  --color-light-blue-800: #004f79;
  --color-light-blue-900: #003c5e;
  --color-blue-50: #eaf5fe;
  --color-blue-100: #d5eaff;
  --color-blue-200: #b0d6ff;
  --color-blue-300: #8abeff;
  --color-blue-400: #5fa4ff;
  --color-blue-500: #2b84ff;
  --color-blue-600: #126be0;
  --color-blue-700: #0056bd;
  --color-blue-800: #004395;
  --color-blue-900: #003272;
  --color-purple-50: #f1f3ff;
  --color-purple-100: #e6e4ff;
  --color-purple-200: #cfcbfe;
  --color-purple-300: #b4abff;
  --color-purple-400: #9d8bff;
  --color-purple-500: #8568f6;
  --color-purple-600: #6e4fdb;
  --color-purple-700: #593eb5;
  --color-purple-800: #452f8f;
  --color-purple-900: #33226c;
  --color-brown-50: #f8f2ec;
  --color-brown-100: #f3e5d9;
  --color-brown-200: #e6cdb9;
  --color-brown-300: #d3b090;
  --color-brown-400: #c1956f;
  --color-brown-500: #aa7a53;
  --color-brown-600: #91633e;
  --color-brown-700: #784f2e;
  --color-brown-800: #5f3b20;
  --color-brown-900: #482b14;
  --color-cool-gray-50: #f7f8fa;
  --color-cool-gray-100: #f2f4f5;
  --color-cool-gray-200: #e7eaed;
  --color-cool-gray-300: #d2d6db;
  --color-cool-gray-400: #afb5bb;
  --color-cool-gray-500: #838a91;
  --color-cool-gray-600: #61686f;
  --color-cool-gray-700: #454b51;
  --color-cool-gray-800: #2e3338;
  --color-cool-gray-900: #1c2023;
  --color-neutral-gray-50: #f8f8f8;
  --color-neutral-gray-100: #f3f3f3;
  --color-neutral-gray-200: #e9e9e9;
  --color-neutral-gray-300: #d6d6d6;
  --color-neutral-gray-400: #b4b4b4;
  --color-neutral-gray-500: #898989;
  --color-neutral-gray-600: #676767;
  --color-neutral-gray-700: #4a4a4a;
  --color-neutral-gray-800: #333333;
  --color-neutral-gray-900: #1f1f1f;
  --color-dark-pink-50: #3b232c;
  --color-dark-pink-100: #512939;
  --color-dark-pink-200: #6b3249;
  --color-dark-pink-300: #9a2b5f;
  --color-dark-pink-400: #c22d76;
  --color-dark-pink-500: #eb3c90;
  --color-dark-pink-600: #ff66a9;
  --color-dark-pink-700: #ff96bf;
  --color-dark-pink-800: #ffbcd4;
  --color-dark-pink-900: #ffdee9;
  --color-dark-red-50: #3d2321;
  --color-dark-red-100: #542a26;
  --color-dark-red-200: #6e332e;
  --color-dark-red-300: #a02b29;
  --color-dark-red-400: #ca2e2c;
  --color-dark-red-500: #f33c39;
  --color-dark-red-600: #ff7067;
  --color-dark-red-700: #ff9c92;
  --color-dark-red-800: #ffc0b7;
  --color-dark-red-900: #ffe0db;
  --color-dark-orange-50: #3c251b;
  --color-dark-orange-100: #532c1d;
  --color-dark-orange-200: #6d3620;
  --color-dark-orange-300: #9a3e13;
  --color-dark-orange-400: #c54c03;
  --color-dark-orange-500: #f0620a;
  --color-dark-orange-600: #ff8440;
  --color-dark-orange-700: #ffa970;
  --color-dark-orange-800: #ffc79a;
  --color-dark-orange-900: #ffe2cb;
  --color-dark-yellow-50: #362915;
  --color-dark-yellow-100: #4a330d;
  --color-dark-yellow-200: #614000;
  --color-dark-yellow-300: #986600;
  --color-dark-yellow-400: #cc8b00;
  --color-dark-yellow-500: #f2ae00;
  --color-dark-yellow-600: #fcba32;
  --color-dark-yellow-700: #fbcd6d;
  --color-dark-yellow-800: #f9dfa0;
  --color-dark-yellow-900: #fcefd0;
  --color-dark-light-green-50: #23301b;
  --color-dark-light-green-100: #2b3f1c;
  --color-dark-light-green-200: #36511c;
  --color-dark-light-green-300: #456a03;
  --color-dark-light-green-400: #5a8300;
  --color-dark-light-green-500: #769f00;
  --color-dark-light-green-600: #8fb832;
  --color-dark-light-green-700: #abcb67;
  --color-dark-light-green-800: #c7dd9b;
  --color-dark-light-green-900: #e1eecd;
  --color-dark-green-50: #1b3122;
  --color-dark-green-100: #1a4129;
  --color-dark-green-200: #1a5531;
  --color-dark-green-300: #1a6e3f;
  --color-dark-green-400: #118b4d;
  --color-dark-green-500: #26a95e;
  --color-dark-green-600: #4fc17c;
  --color-dark-green-700: #7ed39b;
  --color-dark-green-800: #abe2bc;
  --color-dark-green-900: #d4f0dd;
  --color-dark-cyan-50: #0e3231;
  --color-dark-cyan-100: #004141;
  --color-dark-cyan-200: #005353;
  --color-dark-cyan-300: #006b6b;
  --color-dark-cyan-400: #008585;
  --color-dark-cyan-500: #00a3a3;
  --color-dark-cyan-600: #3abcbe;
  --color-dark-cyan-700: #72cfd0;
  --color-dark-cyan-800: #a5e0df;
  --color-dark-cyan-900: #d2efee;
  --color-dark-light-blue-50: #182e3e;
  --color-dark-light-blue-100: #163b55;
  --color-dark-light-blue-200: #104c71;
  --color-dark-light-blue-300: #086392;
  --color-dark-light-blue-400: #007db5;
  --color-dark-light-blue-500: #009ad7;
  --color-dark-light-blue-600: #34b4f0;
  --color-dark-light-blue-700: #6cc9f9;
  --color-dark-light-blue-800: #a0dcfc;
  --color-dark-light-blue-900: #d0edfd;
  --color-dark-blue-50: #1f2c3f;
  --color-dark-blue-100: #233858;
  --color-dark-blue-200: #294875;
  --color-dark-blue-300: #305b9b;
  --color-dark-blue-400: #3270cb;
  --color-dark-blue-500: #3388ff;
  --color-dark-blue-600: #63a6ff;
  --color-dark-blue-700: #8cbfff;
  --color-dark-blue-800: #b0d6ff;
  --color-dark-blue-900: #d6ebff;
  --color-dark-purple-50: #2a283e;
  --color-dark-purple-100: #373256;
  --color-dark-purple-200: #463f73;
  --color-dark-purple-300: #594e97;
  --color-dark-purple-400: #6e5dc4;
  --color-dark-purple-500: #886bfa;
  --color-dark-purple-600: #a08fff;
  --color-dark-purple-700: #b6aeff;
  --color-dark-purple-800: #cecaff;
  --color-dark-purple-900: #e6e5ff;
  --color-dark-brown-50: #342921;
  --color-dark-brown-100: #443429;
  --color-dark-brown-200: #594231;
  --color-dark-brown-300: #73533b;
  --color-dark-brown-400: #906646;
  --color-dark-brown-500: #ad7d56;
  --color-dark-brown-600: #c59872;
  --color-dark-brown-700: #d6b392;
  --color-dark-brown-800: #e6ccb7;
  --color-dark-brown-900: #f2e5da;
  --color-dark-cool-gray-50: #161b20;
  --color-dark-cool-gray-100: #22272c;
  --color-dark-cool-gray-200: #31363b;
  --color-dark-cool-gray-300: #43484e;
  --color-dark-cool-gray-400: #5c6167;
  --color-dark-cool-gray-500: #797e83;
  --color-dark-cool-gray-600: #9b9fa3;
  --color-dark-cool-gray-700: #bec1c5;
  --color-dark-cool-gray-800: #dcdee0;
  --color-dark-cool-gray-900: #f4f5f6;
  --color-dark-neutral-gray-50: #1b1b1b;
  --color-dark-neutral-gray-100: #262626;
  --color-dark-neutral-gray-200: #353535;
  --color-dark-neutral-gray-300: #484848;
  --color-dark-neutral-gray-400: #606060;
  --color-dark-neutral-gray-500: #7d7d7d;
  --color-dark-neutral-gray-600: #9e9e9e;
  --color-dark-neutral-gray-700: #c1c1c1;
  --color-dark-neutral-gray-800: #dedede;
  --color-dark-neutral-gray-900: #f5f5f5;
  --color-white-opacity-00: #ffffff00;
  --color-white-opacity-05: #ffffff0d;
  --color-white-opacity-10: #ffffff1a;
  --color-white-opacity-20: #ffffff33;
  --color-white-opacity-30: #ffffff4d;
  --color-white-opacity-40: #ffffff66;
  --color-white-opacity-50: #ffffff80;
  --color-white-opacity-60: #ffffff99;
  --color-white-opacity-70: #ffffffb3;
  --color-white-opacity-80: #ffffffcc;
  --color-white-opacity-90: #ffffffe6;
  --color-white-opacity-100: #ffffffff;
  --color-black-opacity-00: #00000000;
  --color-black-opacity-05: #0000000d;
  --color-black-opacity-10: #0000001a;
  --color-black-opacity-20: #00000033;
  --color-black-opacity-30: #0000004d;
  --color-black-opacity-40: #00000066;
  --color-black-opacity-50: #00000080;
  --color-black-opacity-60: #00000099;
  --color-black-opacity-70: #000000b3;
  --color-black-opacity-80: #000000cc;
  --color-black-opacity-90: #000000e6;
  --color-black-opacity-100: #000000ff;
}
